/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa; /* Light blue background */
  color: #143446; /* Darker blue text */
  margin: 0;
  padding: 0;
}

label{
  color: white;
}

header {
  background-color: #143446; /* Medium blue header */
  color: rgb(250, 81, 29);
  padding: 20px;
}

nav {
  margin: 20px 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
}

.container {
  width: 80%;
  margin: auto;
}

form {
  background-color: #1b6b91; /* Light blue form background */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

input[type="text"], input[type="password"], input[type="email"] {
  width: calc(100% - 22px); /* Adjusted for padding */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #115983; /* Border color matching text */
}

input[type="submit"] {
  background-color: #14506b; /* Button color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0288d1; /* Darker button on hover */
}

.info-section {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #185f80; /* Light blue section background */
}